#page1 {
  position: relative;
  min-height: 100vh;
  text-align: center;
}

.page-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/img/background-1.png") no-repeat #1a1a36;
  background-size: cover;
  text-align: center;
  z-index: -2;
}

#page2 {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/img/background-2.png") no-repeat;
  background-size: cover;
  text-align: center;
}

#page3 {
  color: white;
  position: relative;
  min-height: 100vh;
  background: url("../../assets/img/background-3.png") no-repeat;
  background-size: cover;
  text-align: center;
}

#page4 {
  position: relative;
  min-height: 100vh;
  background: white;
  text-align: center;
}

.page4 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: url("../../assets/img/background-3.png") no-repeat;
  background-size: cover;
  text-align: center;
}

#page5 {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/img/background-5.png") no-repeat #11112a;
  background-size: cover;
  text-align: left;
}

.page5 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: url("../../assets/img/background-5.png") no-repeat #11112a;
  background-size: cover;
  text-align: left;
}

#page6 {
  position: relative;
  min-height: 100vh;
  background: url("../../assets/img/background-6.png") no-repeat #ffffff;
  background-size: cover;
  text-align: left;
  padding: 50px 0 0 0;
  z-index: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.logo {
  width: 480px;
  margin-top: calc(50% - 120px);
}

.nav-bar {
  padding-top: 14px;
  position: fixed;
  z-index: 1;
  width: 67%;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
}

.lang {
  margin-left: 25px;
  float: right;
}

.lang li, .menu li {
  text-transform: uppercase;
  float: left;
  list-style: none;
  color: white;
  display: inline-block;
  padding: 0 7px;
  position: relative;
  margin: 0 2px;
}

.button {
  cursor: pointer;
  height: 35px;
  width: 50px;
  line-height: 35px;
  text-align: center;
}

.button a {
  display: block;
}
.menu .button {
  width: 100px;
}

.button::after, .button::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #525695;
   transform: skew(157deg);
   z-index: -1;
}

.button.active::after,
.button.active::after {
  background-color: #fbc821;
}
.center-logo {
  width: 480px;
  margin: 0 auto;
}

.logo-title {
  color: white;
  font-size: 25px;
  text-align: right;
  width: 480px;
  margin: calc(50% - 120px) 0;
}

#page2 .text-block {
  margin: 150px 0 0 0;
  text-align: right;
}

#page2 .text-block h3, #page2 .text-block h4 {
  font-weight: bold;
  font-size: 30px;
}

#page2 .text-block p {
  font-size: 16px;
}

#page2 .text-block .button {
  width: 150px;
  position: relative;
  float: right;
}

#page3 img {
  width: 80px;
}

#page3 h3 {
  margin-top: 70px;
  font-size: 30px;
}

.services {
  margin-top: 32px;
}

.head-title {
  font-size: 18px;
  font-weight: 600;
}

.head-title, .sub-title {
  width: 195px;
  margin: 10px auto;
}

#page4 h3 {
  color: #000;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 600;
}

.form-group-horizontal label{
  width: 40%;
}

.form-group-horizontal input{
  width: 60%;
}

label {
  font-size: 16px;
  font-weight: normal;
}

.text-right {
  text-align: right;
}

.button-submit {
  background: #fbc821;
  text-transform: uppercase;
  float: right;
  border: none;
  color: white;
  width: 100px;
  height: 32px;
  text-align: center;
}

.slider p {
  font-weight: 600;
}

#page5 h3 {
  color: white;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

#page5 p {
  color: white;
}

.price .col-md-12 {
  background: #9f8123;
  height: 265px;
  margin: 30px 0;
  padding: 15px;
}

.price-icon {
  height: 100px;
  margin: 20px auto 5px;
}

.price-icon-1 {
  width: 85px;
  background: url("../../assets/img/price-icons/1.png") no-repeat 18px 0;
}

.price-icon-2 {
  width: 90px;
  background: url("../../assets/img/price-icons/2.png") no-repeat;
}

.price-icon-3 {
  width: 77px;
  background: url("../../assets/img/price-icons/3.png") no-repeat;
}

.price-icon-4 {
  width: 106px;
  background: url("../../assets/img/price-icons/4.png") no-repeat;
}


@media (max-width: 360px) {
  .nav-bar {
    position: relative;
    float: right;
    margin: 0 20px;
  }

  .menu {
    display: none;
  }

  .logo {
    width: 85%;
    margin-top: 20%;
  }
  .logo-title {
    width: 320px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .center-logo {
    width: 100%;
  }

  #page2 {
    background: url("../../assets/img/background-2.png") 100% 0 #0006ff12;
  }

  .price {
    padding: 15px;
  }

  #page5 h3 {
    margin-top: 30px;
  }

  .price .col-md-12 {
    margin: 0;
  }

  #page4 {
    background: #ededff;
  }

  .next-slide, .prev-slide, .nav-btn.next-slide.slick-arrow {
    margin: -30px 0 !important;
  }

  .prev-slide.slick-disabled, .next-slide.slick-disabled {
    margin: -30px 0 !important;
  }

  #page6 {
    background: url("../../assets/img/background-mob-6.png") no-repeat #ffffff;
    padding: 0;
  }
}

#page6 h4, #page6 h2 {
  font-weight: bold;
}

#page6 .text-block {
  margin-top: 15px;
}
#page6 span {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 120px;
  color: #bebec5;
  font-weight: bold;
  padding: 0 -45px;
  margin: 0 0 0 -40px;
}

#page6 .button {
  width: 150px;
  position: relative;
  margin: 15px auto 0;
}

footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: white;
}

footer p {
  font-size: 13px;
  line-height: 14px;
}

.footer-logo {
  width: 130px;
}

#question-mess-area {
  width: 100%;
}

.modal-content {
  min-height: 270px !important;
}

.form-group-horizontal input {
  padding-left: 5px;
}
