@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .nav-bar {
    width: 830px;
    margin-left: -420px;
  }
}

@media (max-width: 780px) {
  #page2, #page3, #page4, #page5, #page6 {
    min-height: 500px;
  }

  #page1, .page-1 {
    min-height: 650px;
  }

  #page2 {
    background: url("../../assets/img/background-2.png") -281px 0 no-repeat;
    min-height: 500px;
    background-size: cover;
    z-index: 0;
  }

  #page2 .text-block {
    margin: 150px 0 0 100px;
  }

  #page4 {
    min-height: 925px;
  }

  #page6 {
    height: 615px;
  }

  .menu {
    display: none;
  }

  .slide-description {
    font-size: 13px;
  }

  .nav-bar {
    left: 0;
    width: 100%;
    margin-left: -40px;
  }

  .center-logo {
    width: 50%;
  }

  .head-title, .sub-title {
    width: auto;
  }
}

@media (max-width: 500px) {

  #page4 {
    min-height: 725px;
  }

  .slide-description {
    font-size: 10px;
  }

  .center-logo {
    width: 80%;
  }

  #page2 {
    background: url("../../assets/img/background-2.png") 100% 0 #0006ff12;
  }
  #page2 .text-block {
    margin: 70px 0 0 0;
  }
  #page6 {
    background: url("../../assets/img/background-mob-6.png") 0 300px no-repeat #ffffff;
    padding: 0;
  }

  footer {
    position: static;
    background: #11102a;
    margin: 10px 0 0;
    padding: 10px 0;
  }

  #page6 .text-block {
    margin-top: -15px;
    padding: 0;
  }
}

@media (max-width: 411px) {
  .nav-bar {
    position: relative;
    float: right;
    margin: 0 5px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .center-logo {
    width: 100%;
  }

  .price {
    padding: 15px;
  }

  #page5 h3 {
    margin-top: 30px;
  }

  .price .col-md-12 {
    margin: 0;
  }

  #page4 {
    background: #ededff;
  }

  .next-slide, .prev-slide, .nav-btn.next-slide.slick-arrow {
    margin: -27px 0 !important;
  }

  .prev-slide.slick-disabled, .next-slide.slick-disabled {
    margin: -27px 0 !important;
  }
}

@media (max-width: 992px) and (orientation:landscape) {
  .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
}
