<div class="page-1"></div>
<div id="page1"  page-1>
  <div class="container">
    <div class="phone-number hidden-sm hidden-md hidden-lg">
      <span></span>
      <p>+38 (099) 275 03 57</p>
    </div>
    <div class="nav-bar">
      <ul class="menu">
        <li class="active button"><a href="#page1">{{ "menu.home" | translate }}</a></li>
        <li class="button"><a href="#page2">{{ "menu.about" | translate }}</a></li>
        <li class="button"><a href="#page3">{{"menu.profit" | translate}}</a></li>
        <li class="button"><a href="#page4">{{ "menu.service" | translate }}</a></li>
        <li class="button"><a href="#page5">{{ "menu.price" | translate }}</a></li>
        <li class="button"><a href="#page6">{{ "menu.FAQ" | translate }}</a></li>
      </ul>
      <ul class="lang">
        <li class="button"
            [ngClass]="{'active': this.translate.store.currentLang === 'ru'}"
            (click)="changeLang('ru')">
          Рус
        </li>
        <li class="button"
            [ngClass]="{'active': this.translate.store.currentLang === 'ua'}"
            (click)="changeLang('ua')">
          Укр
        </li>
      </ul>
    </div>
    <div class="center-logo">
      <img class="logo col-md-12" src="../../assets/img/logo.png" alt="logo">
      <p class="logo-title">{{ "page-1.logo-title-1"  | translate }} <br>
        {{ "page-1.logo-title-2"  | translate }} <br>
        {{ "page-1.logo-title-3"  | translate }}
      </p>
<!--      <div class="active button">-->
<!--        <a (click)="openModal(modal)">-->
<!--          {{ "page-2.callback-btn"  | translate }}-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</div>
<div class="page-2"></div>
<div id="page2" page-2>
  <div class="container row">
    <div class="col-md-7"></div>
    <div class="text-block col-md-5">
      <h3>{{ "page-2.company"  | translate }} <br> {{"page-2.companyName" | translate}}</h3>
      <h4>{{ "page-2.text-1"  | translate }} <br>
        {{ "page-2.text-2"  | translate }}
      </h4>
      <p>
      </p>
      <p>{{ "page-2.text-3"  | translate }}</p>
      <div class="active button">
        <a (click)="openModal(modal)">
          {{ "page-2.callback-btn"  | translate }}
        </a>
      </div>
    </div>
  </div>
  <ng-template #modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ "page-2.callback-btn"  | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm" (ngSubmit)="callbackUs()">
        <div class="row">
          <div class="col-md-6 form-row">
            <div class="form-group form-group-horizontal">
              <label>{{ "modal-1-callbackUsMailer.fullName"  | translate }}</label>
              <input type="text" formControlName="fullName" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
            </div>
            <span *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
              <span *ngIf="f.fullName.errors.required">Full Name is required</span>
            </span>
          </div>
          <div class="col-md-6 form-row">
            <div class="form-group form-group-horizontal">
              <label for="phone">{{ "modal-1-callbackUsMailer.phone"  | translate }}</label>
              <input type="text" id="phone" formControlName="phone" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
            </div>
            <span *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <span *ngIf="f.phone.errors.required">Phone is required</span>
              <span *ngIf="f.phone.errors.minlength">Phone must be at least 10</span>
            </span>
          </div>
          <div class="col-md-6 form-row">
            <div class="form-group form-group-horizontal">
              <label for="email">{{ "modal-1-callbackUsMailer.email"  | translate }}</label>
              <input type="email" id="email" formControlName="email" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
            </div>
            <span *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <span *ngIf="f.email.errors.required">Email is required</span>
              <span *ngIf="f.email.errors.email">Email must be a valid email address</span>
            </span>
          </div>
          <div class="col-md-12">
            <button class="active button-submit text-right">
              {{ "modal-1-callbackUsMailer.send"  | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
<div class="page-3"></div>
<div id="page3" page-3>
  <div class="container row">
    <h3>{{"page-3.yourProfit" | translate}}</h3>
    <div class="col-md-12 services">
      <div class="col-md-4 col-sm-4">
        <div class="service-icon-1"></div>
        <p class="head-title">{{"page-3.text-1" | translate}}</p>
        <p class="sub-title">{{"page-3.text-2" | translate}}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-icon-2"></div>
        <p class="head-title">{{"page-3.text-3" | translate}}</p>
        <p class="sub-title">{{"page-3.text-4" | translate}}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-icon-3"></div>
        <p class="head-title">{{"page-3.text-5" | translate}} <br> {{"page-3.text-6" | translate}}</p>
        <p class="sub-title">{{"page-3.text-7" | translate}}<br> {{"page-3.text-8" | translate}}</p>
      </div>
    </div>
    <div class="col-md-12 services">
      <div class="col-md-4 col-sm-4">
        <img src="../../assets/img/service-icons/4.png" alt="icon">
        <p class="head-title">{{"page-3.text-9" | translate}}</p>
        <p class="sub-title">{{"page-3.text-10" | translate}}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="../../assets/img/service-icons/5.png" alt="icon">
        <p class="head-title">{{"page-3.text-11" | translate}}</p>
        <p class="sub-title">{{"page-3.text-12" | translate}}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="../../assets/img/service-icons/6.png" alt="icon">
        <p class="head-title">{{"page-3.text-13" | translate}}</p>
        <p class="sub-title">{{"page-3.text-14" | translate}}</p>
      </div>
    </div>
  </div>
</div>
<div class="page-4"></div>
<div id="page4" page-4>
  <div class="container row">
    <h3>{{"page-4.text-1" | translate}}</h3>
    <div class="slider">
      <div class="slider-1">
        <p class="text-left">{{"page-4.text-2" | translate}}</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of altitudeSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-2">
        <p class="text-right">{{"page-4.text-3" | translate}}</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of installationSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-3">
        <p class="text-left">{{"page-4.text-4" | translate}}</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of frontSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-4">
        <p class="text-right">{{"page-4.text-5" | translate}}</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of roofingSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
<div class="page-5"></div>
<div id="page5" page-5>
  <div class="container row">
    <h3>{{"page-5.text-1" | translate}}</h3>
    <p>{{"page-5.text-2" | translate}}</p>
    <div class="row prices">
      <div class="col-md-3 col-sm-6 price">
        <div class="col-md-12">
          <div class="price-icon price-icon-1"></div>
          <p>{{"page-5.text-3" | translate}}</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 price">
        <div class="col-md-12">
          <div class="price-icon price-icon-2"></div>
          <p>{{"page-5.text-4" | translate}}</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 price">
        <div class="col-md-12">
          <div class="price-icon price-icon-3"></div>
          <p>{{"page-5.text-5" | translate}}</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 price">
        <div class="col-md-12">
          <div class="price-icon price-icon-4"></div>
          <p>{{"page-5.text-6" | translate}}</p>
        </div>
      </div>
    </div>
    <p>{{"page-5.text-7" | translate}}
    </p>
  </div>
</div>
<div id="page6" page-6>
  <div class="container row">
    <div class="col-md-3 col-sm-3">
      <h2>{{"page-6.text-1" | translate}}</h2>
      <p>{{"page-6.text-2" | translate}}</p>
      <span class="hidden-xs">FAQ</span>
    </div>
    <div class="text-block col-md-9 col-sm-9">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="thumbnailsSlider"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of questionSlides" class="slide">
            <div class="col-md-12">
              <h4>{{ slide.header | translate }}</h4>
              <p>{{ slide.text | translate }}</p>
            </div>
          </div>
        </ngx-slick-carousel>
<!--      <h4>{{"page-6.text-3" | translate}}</h4>-->
<!--      <p>{{"page-6.text-4" | translate}}</p>-->
<!--      <h4>{{"page-6.text-5" | translate}}-->
<!--      </h4>-->
<!--      <p>{{"page-6.text-6" | translate}}</p>-->
<!--      <h4>{{"page-6.text-7" | translate}}</h4>-->
<!--      <p>{{"page-6.text-8" | translate}}</p>-->
      <div class="active button">
        <a (click)="openModal(questionModal)">
          {{ "page-6.question-btn"  | translate }}
        </a>
      </div>
      <ng-template #questionModal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{ "page-6.question-btn"  | translate }}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="sendMessage()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-horizontal">
                  <label>{{ "modal-2-callbackUsMailer.fullName"  | translate }}</label>
                  <input type="text" [(ngModel)]="sendQuestionMailer.fullName" name="first">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-horizontal">
                  <label for="phone">{{ "modal-2-callbackUsMailer.phone"  | translate }}</label>
                  <input type="phone" [(ngModel)]="sendQuestionMailer.phone" name="phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-horizontal">
                  <label for="email">{{ "modal-2-callbackUsMailer.email"  | translate }}</label>
                  <input type="email" [(ngModel)]="sendQuestionMailer.email" name="email">
                </div>
              </div>
              <div class="col-md-12">
                <label for="email">{{ "modal-2-callbackUsMailer.message"  | translate }}</label>
                <textarea name="mess" id="question-mess-area" rows="3" [(ngModel)]="sendQuestionMailer.message"></textarea>
              </div>
              <div class="col-md-12">
                <button type="submit" class="active button-submit text-right">{{ "modal-2-callbackUsMailer.send"  | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
  <footer>
    <div class="container row">
      <div class="col-md-4 col-sm-4 hidden-xs">
        <p>{{ "footer.text-1"  | translate }}</p>
        <p>{{ "footer.text-2"  | translate }}</p>
        <p>{{ "footer.text-3"  | translate }}</p>
        <p>{{ "footer.text-4"  | translate }}</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <p>{{ "footer.text-5"  | translate }}</p>
        <p>{{ "footer.text-6"  | translate }}</p>
        <p>{{ "footer.text-7"  | translate }}</p>
        <p>{{ "footer.text-8"  | translate }}</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <p>+38 (099) 275 03 57</p>
        <p>+38 (098) 729 44 73</p>
        <p class="hidden-xs">dniproalpprom@gmail.com</p>
        <p style="cursor: pointer;" (click)="goToNewPage()" class="hidden-xs">www.facebook.com/dniproalpprom</p>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs">
        <img class="footer-logo" src="../../assets/img/footer-logo.png" alt="logo">
      </div>
      <div class="col-xs-12 hidden-sm">
        <p>dniproalpprom@gmail.com</p>
        <p style="cursor: pointer;" (click)="goToNewPage()" >www.facebook.com/dniproalpprom</p>
      </div>
    </div>
  </footer>
</div>

<toaster-container></toaster-container>

<app-loading *ngIf="!loaded"></app-loading>
