<div class="page-1"></div>
<div id="page1"  page-1>
  <div class="container row">
    <div class="nav-bar">
      <ul class="menu">
        <li class="active button"><a href="#page1">{{ "menu.home" | translate }}</a></li>
        <li class="button"><a href="#page2">{{ "menu.about" | translate }}</a></li>
        <li class="button"><a href="#page3">Ваша выгода</a></li>
        <li class="button"><a href="#page4">{{ "menu.service" | translate }}</a></li>
        <li class="button"><a href="#page5">{{ "menu.price" | translate }}</a></li>
        <!--<li class="button"><a href="#page6">{{ "menu.FAQ" | translate }}</a></li>-->
        <!--<li class="button"><a href="#page7">{{ "menu.contacts" | translate }}</a></li>-->
      </ul>
      <ul class="lang">
        <li class="button"
            [ngClass]="{'active': this.translate.store.currentLang === 'ru'}"
            (click)="changeLang('ru')">
          Рус
        </li>
        <li class="button"
            [ngClass]="{'active': this.translate.store.currentLang === 'ua'}"
            (click)="changeLang('ua')">
          Укр
        </li>
      </ul>
    </div>
    <div class="center-logo">
      <img class="logo col-md-12" src="../assets/img/logo.png" alt="logo">
      <p class="logo-title">{{ "logo-title-1"  | translate }} <br>
        {{ "logo-title-2"  | translate }}
      </p>
    </div>
  </div>
</div>
<div class="page-2"></div>
<div id="page2" page-2>
  <div class="container row">
    <div class="col-md-7"></div>
    <div class="text-block col-md-5">
      <h3>{{ "page-2.company"  | translate }} <br> «Днепр-АльпПром»</h3>
      <h4>{{ "page-2.text-1"  | translate }} <br>
        {{ "page-2.text-2"  | translate }}
      </h4>
      <p>
      </p>
      <p>{{ "page-2.text-3"  | translate }}</p>
      <div class="active button">
        <a href="#page5" (click)="openModal(template)">
          {{ "page-2.callback-btn"  | translate }}
        </a>
      </div>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ "page-2.callback-btn"  | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group form-group-horizontal">
              <label>{{ "firstName"  | translate }}</label>
              <input type="text" [(ngModel)]="mailer.firstName" name="first">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-horizontal">
              <label>{{ "lastName"  | translate }}</label>
              <input type="text" [(ngModel)]="mailer.lastName" name="last">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-horizontal">
              <label for="phone">{{ "phone"  | translate }}</label>
              <input type="phone" id="phone" [(ngModel)]="mailer.phone" name="phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group form-group-horizontal">
              <label for="email">{{ "email"  | translate }}</label>
              <input type="email" id="email" [(ngModel)]="mailer.email" name="email">
            </div>
          </div>
        </div>
        <button type="submit" class="active button-submit text-right">{{ "send"  | translate }}</button>
      </form>
    </div>
  </ng-template>
</div>
<div class="page-3"></div>
<div id="page3" page-3>
  <div class="container row">
    <h3>Вы получаете</h3>
    <div class="col-md-12 services">
      <div class="col-md-4">
        <img src="../assets/img/service-icons/1.png" alt="icon">
        <p class="head-title">Опыт верхолазных
          работ – 10 лет</p>
        <p class="sub-title">Знаем, как все сделать
          быстро, качественно, а
          главное – безопасно.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/2.png" alt="icon">
        <p class="head-title">Услуги 18
          альпинистов</p>
        <p class="sub-title">Работы многоне бывает, выполним любой объем работ в короткий срок.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/3.png" alt="icon">
        <p class="head-title">Нет праздников <br> и выходных</p>
        <p class="sub-title">Когда у Вас выходной,<br> у нас - рабочий день.</p>
      </div>
    </div>
    <div class="col-md-12 services">
      <div class="col-md-4">
        <img src="../assets/img/service-icons/4.png" alt="icon">
        <p class="head-title">100% соблюдение
          правил ТБ</p>
        <p class="sub-title">Наши сотрудники
          имеют удостоверения
          промышленных альпинистов.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/5.png" alt="icon">
        <p class="head-title">100% гарантия соб-
          людения сроков</p>
        <p class="sub-title">Готовы платить
          неустойку. За каждый
          день просрочки
          по договору – 10%.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/6.png" alt="icon">
        <p class="head-title">357 выполненных
          объектов</p>
        <p class="sub-title">Более 300 довольных
          заказчиков, десятки
          постоянных клиентов.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-4"></div>
<div id="page4" page-4>
  <div class="container row">
    <h3>Мы производим широкий спектр услуг:</h3>
    <div class="slider">
      <div class="slider-1">
        <p class="text-left">Высотные работы</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of altitudeSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-2">
        <p class="text-right">Монтажные работы</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of installationSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-3">
        <p class="text-left">Фасадные работы</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of frontSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="slider-4">
        <p class="text-right">Кровельные работы</p>
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let slide of roofingSlides" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>
<div class="page-5"></div>
<div id="page5" page-5>
<div class="container row">
  <h3>Стоимость услуг промышленного альпинизма</h3>
  <p>Конечно же, зайдя на сайт компании "Днепр-АльпПром", вы можете увидеть прайс на промышленный альпинизм,
    однако следует понимать, что расценки на промышленный альпинизм там приведены только примерные.
    Итоговая стоимость может отличаться от приведенных значений как в меньшую, так и в большую
    сторону. Это определяется множеством факторов:
  </p>
  <div class="row prices">
    <div class="col-md-3 price">
      <div class="col-md-12">
        <div class="price-icon price-icon-1"></div>
        <p>Особенность выполняемых работ в зависимости от фактуры фасада;</p>
      </div>
    </div>
    <div class="col-md-3 price">
      <div class="col-md-12">
        <div class="price-icon price-icon-2"></div>
        <p>Сроки, на протяжении которых надо будет выполнять работу;</p>
      </div>
    </div>
    <div class="col-md-3 price">
      <div class="col-md-12">
        <div class="price-icon price-icon-3"></div>
        <p>
          Наличие со стороны заказчика каких-то индивидуальных требований, которые не прописаны в стандартном договоре;
        </p>
      </div>
    </div>
    <div class="col-md-3 price">
      <div class="col-md-12">
        <div class="price-icon price-icon-4"></div>
        <p>Является ли здание стандартным проектом или же внесено в реестр исторических памятников,
          работа с фасадами которых определяется рядом ограничений.</p>    </div>
    </div>
  </div>
  <p>Все эти вопросы решаются в индивидуальном порядке, с каждым клиентом в отдельности. Помните,
    что промышленные альпинисты в Днепре и Днепропетровской области компании "Днепр-АльпПром",
    всегда готовы оказать вам помощь в плане выполнения работ, связанных с восстановлением целостности фасадов или же
    каких-либо других высотных работ.
  </p>
</div>
</div>



<toaster-container></toaster-container>
