<div class="page-1"></div>
<div id="page-1">
  <div class="container row">
    <div class="nav-bar">
      <ul class="lang">
        <li class="active button" [ngClass]="{'active': isClicked}">Рус
        </li>
        <li class="button" [ngClass]="{'active': isClicked}">Укр</li>
      </ul>
      <ul class="menu">
        <li class="button"><a href="#page2" (click)="scroll(page-2)">Контакты</a></li>
        <li class="button"><a href="#page3">FAQ</a></li>
        <li class="button"><a href="#page4">Прайс</a></li>
        <li class="button"><a href="#page5">Услуги</a></li>
        <li class="button"><a href="#page6">О нас</a></li>
        <li class="active button"><a href="#page1">Главная</a></li>
      </ul>
    </div>
    <div class="center-logo">
      <img class="logo col-md-12" src="../assets/img/logo.png" alt="logo">
      <p class="logo-title">Промышленный альпинизм <br>
        высотные и верхолазные работы
      </p>
    </div>
  </div>
</div>
<div class="page-2"></div>
<div id="page2" page-2>
  <div class="container row">
    <div class="col-md-7"></div>
    <div class="text-block col-md-5">
      <h3>Компания <br> «Днепр-АльпПром»</h3>
      <h4>команда профессионалов, выполняющая все <br>
        виды высотных работ!
      </h4>
      <p>Мы оказываем любые услуги в области промышленного
        альпинизма бизнесу, государственным и коммунальным
        предприятиям, ОСМД (ОСББ), а также частным лицам.
      </p>
      <p>Наша специализация — это сложные высотные работы,
        требующие не только альпинистской техники, но и
        строительно-монтажного опыта, пескоструйным и
        другими специфическим аппаратами.
      </p>
      <div class="active button"><a href="#page5">Связаться с нами</a></div>
    </div>
  </div>
</div>
<div class="page-3"></div>
<div id="page3" page-3>
  <div class="container row">
    <h3>Вы получаете</h3>
    <div class="col-md-12 services">
      <div class="col-md-4">
        <img src="../assets/img/service-icons/1.png" alt="icon">
        <p class="head-title">Опыт верхолазных
          работ – 10 лет</p>
        <p class="sub-title">Знаем, как все сделать
          быстро, качественно, а
          главное – безопасно.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/2.png" alt="icon">
        <p class="head-title">Услуги 18
          альпинистов</p>
        <p class="sub-title">Работы многоне бывает, выполним любой объем работ в короткий срок.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/3.png" alt="icon">
        <p class="head-title">Нет праздников <br> и выходных</p>
        <p class="sub-title">Когда у Вас выходной,<br> у нас - рабочий день.</p>
      </div>
    </div>
    <div class="col-md-12 services">
      <div class="col-md-4">
        <img src="../assets/img/service-icons/4.png" alt="icon">
        <p class="head-title">100% соблюдение
          правил ТБ</p>
        <p class="sub-title">Наши сотрудники
          имеют удостоверения
          промышленных альпинистов.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/5.png" alt="icon">
        <p class="head-title">100% гарантия соб-
          людения сроков</p>
        <p class="sub-title">Готовы платить
          неустойку. За каждый
          день просрочки
          по договору – 10%.</p>
      </div>
      <div class="col-md-4">
        <img src="../assets/img/service-icons/6.png" alt="icon">
        <p class="head-title">357 выполненных
          объектов</p>
        <p class="sub-title">Более 300 довольных
          заказчиков, десятки
          постоянных клиентов.</p>
      </div>
    </div>
  </div>
</div>
