<div class="admin-dashboard">
  <div class="col-md-12">
    <h1 class="">Admin Dashboard</h1>
    <a id="logout" class="logout-btn" (click)="logout()">Log out</a>
    <a class="logout-btn" (click)="getClaims()">Reload</a>
    <br>
    <table class="table table-striped table-dark" *ngIf="loaded">
      <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let claim of adminClaimListService.claims; let i = index">
        <td>{{ i + 1}}</td>
        <td>{{ claim.fullName }}</td>
        <td>{{ claim.phone }}</td>
        <td>{{ claim.email }}</td>
        <td>{{ claim.claimType }}</td>
        <td>{{ claim.message }}</td>
        <td>{{ claim.createdOn | date:'medium' }}</td>
        <td>
          <a title="Delete Claim" class="hover-danger remove-btn" (click)="removeClaim(claim.id)">
            <i class="far fa-trash-alt"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<p *ngIf="!loaded" class="records-not-found">Loading...</p>
