.admin-dashboard {
  background: #eff7ff;
  height: 100vh;
  display: block;
}

.logout-btn {
  cursor: pointer;
  width: 160px;
  height: 40px;
  background: white;
  float: right;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #47aff2;
  margin: 15px;
}

.remove-btn {
  cursor: pointer;
}

h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 15px;
  color: #02aeef;
  float: left;
  padding-left: 15px;
}
