body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: none;
}
.button a {
  color: white !important;
}
a:focus, a:hover {
  text-decoration: none !important;
  text-transform: none !important;

}

#page4 .slick-slider {
  width: 70%;
  margin: auto;
  /*background: #d9e5f2;*/
}

.nav-btn {
  height: 30px;
  position: absolute;
  width: 26px;
  cursor: pointer;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url(assets/img/slider/prev-btn.png) no-repeat 0 0;
  left: -33px;
  top: calc(50% - 15px);
}

.next-slide {
  background: url(assets/img/slider/next-btn.png) no-repeat scroll 0px 0px;
  right: -28px;
  top: calc(50% - 15px);
}

/*.prev-slide:hover {*/
  /*background-position: 0 -53px;*/
/*}*/

/*.next-slide:hover {*/
  /*background-position: -24px -53px;*/
/*}*/


@media (max-width: 500px) {
  .slick-dotted.slick-slider {
    margin-bottom: 10px !important;
  }

  #page6 .prev-slide {
    left: -13px;
  }

  #page6 .next-slide {
    right: -13px;
  }
}

.slick-slide:focus {
  outline: none;
}

:focus {
  outline: none;
}

.modal-huge {
  width: auto;
}

.slick-list {
  margin: 20px 0 !important;
}
