body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: none;
}
.button a {
  color: white !important;
}
a:focus, a:hover {
  text-decoration: none !important;
  text-transform: none !important;

}

.nav-btn {
  height: 30px;
  position: absolute;
  width: 26px;
  cursor: pointer;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url(assets/img/slider/prev-btn.png) no-repeat 0 0;
  left: -33px;
  top: calc(50% - 15px);
}

.next-slide {
  background: url(assets/img/slider/next-btn.png) no-repeat scroll 0 0;
  right: -28px;
  top: calc(50% - 15px);
}

#page4 .prev-slide {
  left: 185px;
  z-index: 2;
}

#page4 .next-slide {
  right: 185px;
  z-index: 2;
}

/*.prev-slide:hover {*/
  /*background-position: 0 -53px;*/
/*}*/

/*.next-slide:hover {*/
  /*background-position: -24px -53px;*/
/*}*/

@media (max-width: 991px) {
  #page4 .prev-slide,
  #page4 .next-slide {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .slick-dotted.slick-slider {
    margin-bottom: 10px !important;
  }

  #page6 .prev-slide {
    left: -13px;
  }

  #page6 .next-slide {
    right: -13px;
  }
}

.slick-slide:focus {
  outline: none;
}

:focus {
  outline: none;
}

.modal-huge {
  width: auto;
}

.slick-list {
  margin: 20px 0 !important;
}

.records-not-found {
  margin: 50px auto;
  font-size: 18px;
  text-align: center;
  color: #777;
  position: absolute;
  top: 40%;
  width: 100%;
}

.show {
  opacity: 1;
  padding-top: 40px;
}
