body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

a {
  text-decoration: none;
  text-transform: none;
  color: white !important;
}
